<!DOCTYPE html>
<html lang="en">

{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h2>Edit page</h2>

    <form action="{% url 'save_edit' %}" method="POST">  
        {% csrf_token %}  
        <input type="text" name="title" placeholder="Enter a new Title" value="{{title}}">  
        <br>  
        <label>Content:</label> 
        <br/>
        <textarea name="content" {{content}}></textarea> 
        <br/> 
          
        <input type="submit" value="save_edit">  
    </form>  
{% endblock %}